<footer>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-3 col-md-12 p-0">
                <figure class="my-0 ml-4"><img class="img-fluid" src="./../../assets/Home/logo.png" alt=""></figure>
            </div>
            <div class="col-lg-3 col-md-12">
                <h5>OUR POLICIES</h5>

                <p>FAQ</p>
                <p>Policy</p>
                <p>Cookies Policy</p>
                <p>Terms and Conditions</p>

            </div>
            <div class="col-lg-3 col-md-12">
                <h5>ABOUT US</h5>
                <p class="mx-0">Our company</p>
                <p class="mx-0">Our history</p>
                <p class="mx-0">Contact Us</p>


            </div>
            <div class="col-lg-3 col-md-12">
                <h5>FOLLOW US</h5>

                <div class="followUs d-flex">
                    <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                </div>

            </div>

        </div>
    </div>
    <div class="copyRight m-auto p-3 text-center">
        <p>Copyright © 2020 All Rights Reserved by <span>Yalla Go!</span></p>
    </div>
</footer>