i.solid {
    color: red;
}


.filter-header h3 {
    font-size: 1.4rem;
}
.filter-header i{
    font-size: 2.5rem;
    padding-right: 10px;
}
.category-wrapper{
    width:90%;
    margin: 0 auto;
}
@media (max-width:500px){
    .category-wrapper{
        width:100%;
    }
}
.canvas{
    margin-top: 3%;
    margin-bottom: 2%;
}
.filter-content button{
    padding:15px;
    text-align: left;
    background:none;
    border: none;
    color: #111;
    font-size: 1rem;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #ffa21d;
    background-color:#f2f2f2 ;
    border: none;
}
.filter button{
    text-transform: capitalize;
    padding-left: 0;
    font-weight: bold;
    color: #707070;
}
.filter button:active{
    color: #ffa21d;
}

.collapse{
    background-color: none;
}

 label i{
   color: #ffa21d;
   font-size: 1rem;
}
label {
    font-size:1rem;
}
  input{
    margin-right: 5PX;
}
///////////////////////// end filter//////////////
.place-nav {
   
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;

}
.place-nav ul{
    list-style: none;

}
.place-nav li{
    font-size: 1rem;
    color: #a0a0a0;
}
.place-nav li:hover{
    color: #444;
    cursor: pointer;
}
.place-nav li:focus{
    color: #444;
}
.place-nav i{
    font-size: 1.2rem;
}
.place-content__item{
    border-radius: 10px;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.36);
    background-color:#fff;
    padding: 20px;
    margin-bottom: 7%;
}
.place-content__item-body h2{
    font-size: 1.5rem;
    cursor: pointer;
}
.place-content__item-body h2:hover{
    color: #ffa21d;
}
.place-content__item-img{
    padding: 0;
    cursor: pointer;
}
.place-content__item-img img{
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    
}

.place-content__item-body p{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
}
.open{
    color: #67b493;
    font-weight: 500;
}
.closed , .closed i{
    color:#dd583f;
    font-weight: 500;
}
.filter-canvas{
    margin-top: 20%;
}
.place-content__item-body h3 {
    font-size: 2rem;
}
.place-content__item-body h5 {
    font-size: 1rem;
}
.reservation{
    color: #ffa21d;
}
.place-content__item-body i {
    color: #ffa21d;
}
.place-content__item-body .closed i{
    color: #dd583f;
}
polygon{
    fill:#ffa21d;

}
.cat-name{
    margin-top:12%;
    margin-bottom: 3%;
    position: relative;
   
    
}
.cat-name polygon{
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    display: table;
    text-indent: 90px;
}
.home  {
   
    margin-top:12%;
    margin-bottom: 3%;
    margin-right: -21px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.home:focus ,.home polygon:focus {
    outline:none;
}
.home polygon {
    fill:#fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-name{
    position:absolute;
    top:-62px;
    left: 90px;
    z-index: 99;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
    // width: 81px;
    // height: 27px;
    text-align: center;
   
}
.fav .solid{
    color: #dd583f;
    font-size: 1.3rem;
}
#emptyHeart{
    color: #111;
    font-size: 1.3rem;
}