<!-- start Header section -->

<div class="container-fluid  hero">
    <div class="wrapper text-right m-auto">
        <h1>Let the journey begin...</h1>
    </div>
</div>
<!-- end Header section -->

<!-- start Yalla No5rog section -->
<div class="yallaNo5rog">
    <div class="wrapper m-auto">

        <div class="row justify-content-center">
            <div class="col-lg-4 col-m-8  text-center">
                <figure class="first">
                    <img class="img-fluid " src="./../../assets/Home/Group 919.png" alt="" />
                </figure>
                <figure class="layer">
                    <img class="img-fluid" src="./../../assets/Home/Group 920.png" alt="" />
                </figure>
            </div>
            <div class="col-4 caption">
                <h2>why yalla no5rog ?</h2>
                <p>
                    Yalla No5rog Is Your Entertainment Guide In Alexandria ... Let's Go Out. We Don't Have Data And Data, But Let's Go Out With Integrated And Innovative Entertainment Programs.. Read More
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end Yalla No5rog section -->

<!--start About Us section -->
<div class="aboutUs">
    <div class="wrapper m-auto">
        <div class="row">
            <div class="col-lg-6 col-md-12 aboutUs-caption h-75">
                <h2>what we do ?</h2>
                <div class="row details">
                    <div class="col-1">
                        <i class="fas fa-check-circle  text-success"></i>
                    </div>
                    <div class="col-9">
                        <p>
                            Experience teamwork in a real product team and a collaborative effort for a common goal.
                        </p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-1">
                        <i class="fas fa-check-circle  text-success"></i>
                    </div>
                    <div class="col-9">
                        <p>
                            Experience teamwork in a real product team and a collaborative effort for a common goal.
                        </p>
                    </div>
                </div>
                <div class="row details">
                    <div class="col-1">
                        <i class="fas fa-check-circle  text-success"></i>
                    </div>
                    <div class="col-9">
                        <p>
                            Experience teamwork in a real product team and a collaborative effort for a common goal.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 m-auto p-0 slider-side">
                <div class="wallpaper m-auto"></div>
                <div class="slider  col-md-8 h-75 m-auto ">
                    <owl-carousel-o [options]="customOptions" #owlCat>
                        <ng-container *ngFor="let slide of slidesStor">
                            <ng-template carouselSlide>
                                <div class="slide m-auto">
                                    <img [src]="slide.img" />
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end About Us section -->

<!-- start Sign Up section -->

<div class=" signUp">
    <div class="overlay">
        <div class="wrapper text-center m-auto">
            <h2>get today's top offers</h2>
            <a class="btn bg-warning btn-light p-3 " href="">Sign-Up Now</a>
        </div>
    </div>
</div>

<div class="recommended">
    <div class="wrapper m-auto">
        <h2 class="my-5">recommended For You</h2>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="mb-4 col-lg-12  col-4">
                        <img class="img-fluid w-100" src="./../../assets/Home/1553631889.jpg" alt="" />
                    </div>
                    <div class="mb-4 col-lg-12  col-4">
                        <img class="img-fluid  w-100" src="./../../assets/Home/39a-na-92908.jpg" alt="" />
                    </div>
                    <div class="mb-4 col-lg-12  col-4">
                        <img class="img-fluid w-100" src="./../../assets/Home/unnamed.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="row mb-3">
                    <div class="col-12 px-0">
                        <img class="w-100" src="./../../assets/Home/Mamoura-Beach..jpg" alt="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 video px-0">
                        <img class="w-100 h-75 " src="./../../assets/Home/63664_174236602597037_174218315932199_446593_6206487_n.jpg" alt="" />

                        <div class="overlay text-center ">
                            <a><i class="fas fa-play-circle fa-3x"></i></a>

                            <h3>Kouta Park</h3>
                        </div>
                    </div>
                    <div class="col-4 pr-0 ">
                        <img class="w-100 h-75" src="./../../assets/Home/cafe.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end Sign Up section -->

